.cont-contacto {

    background: var(--bg-normal3);
    padding-bottom: 8rem;
}

.cont-contacto h2 {
    color: white;
    font-size: var(--h2-fontXs);
    border-bottom: 1px solid var(--color-span);
    width: 70%;
    margin: auto;
    margin-bottom: 4rem;
    text-align: center;
    padding-top: 5rem;

}

.contenido-contacto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenido-contacto p {

    color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    line-height: 1.6;
}

.contenido-contacto h4 {

    color: white;
    font-size: 1.4rem;
}